@import url(https://fonts.googleapis.com/css?family=Kumbh+Sans:300,regular,700);

body {
    font-family: 'Kumbh Sans';
    margin:0;
    padding: 0;
    height:100vh;
    font-size: 18px;
    background-color:hsl(185, 75%, 39%);
    background: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top -70vh left -20vw, bottom -80vh right -20vw;
    background-color:hsl(185, 75%, 39%);
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:scroll;

}

#card {
    position:fixed;
    top:50%;
    left:50%;
    width:328px;
    margin-left: -164px;
    margin-top: -187px;
    border-radius: 25px;
    box-shadow: 10px 10px 40px rgba(102, 100, 100, 0.479);
}

#card-top {
    background: url("images/bg-pattern-card.svg");
    height:140px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#card-middle {
    background-color: white;
    height:145px;
    text-align: center;
    border-bottom:1px lightgray solid;
  

}

#card-middle h3 {
    margin-top:-40px;
    padding-top: 0px;
    line-height: 0;
}

img {
    position: relative;
    top: -50px;
    border: 7px solid white;
    border-radius: 100%;
    
}

#card-bottom {
    display:flex;
    background-color: white;
    height:90px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    justify-content: space-around; 
}

h3 {
    font-size:18px;
    font-weight: 700;
    color:hsl(229, 23%, 23%);
}

p {
    font-size: 10px;
    font-weight: 400;
    color:hsl(227, 10%, 46%);
    letter-spacing: 1px;
    line-height: 0;
}

.graycolor {
    color:hsl(227, 10%, 46%);
    font-weight: 400;
}
.location {
    font-size: 14px;
    color:hsl(227, 10%, 46%);
}

.stats {
    text-align: center;
}

.attribution {
    margin: 15px;
}